body {
	font-family: 'Helvetica';
}


/*********Header*********/
header {
  font-size: 1em;
  display: flex;
	justify-content: center;
  align-items: center;
  /*position: fixed;*/
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo span {
  padding-left: 0.5rem;
  font-weight: bold;
  color: teal;
}
/* Navigation */
nav {
  color: teal;
  display: inline-block;
  float: right;
}

nav ul {
  align-items: center;
}

.desktop ul li, 
.mobile ul li {
	display: inline-block;
}

nav a {
  color: teal;
  text-decoration: none;
  font-weight: bold;
  padding: 0 0.5em;
  padding-right: 10px;
}

nav a:hover {
  cursor: pointer;
  color: MediumAquamarine;
}

@media only screen and (min-width: 481px) {
	.mobile {
		display: none;
	}
	
	.desktop {
		visibility: visible;
	}
	
	.logo span {
		visibility: visible;
	}
}

@media only screen and (max-width: 480px) {
	.mobile {
		visibility: visible;
	}
	
	.desktop {
		display: none;
	}
	
	.logo span {
		display: none;
	}
}

/************Main Splash Section***************/

.splash {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: cadetblue;
	background-size: cover;
	height: 600px;
	color: azure;
}

.main-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-image img {
	align-items: center;
	width: 80%;
	margin: 2rem 2rem;
	padding: 2rem 2rem;
}

.headline h1 {
	align-items: flex-start;
	font-size: 3rem;
	font-weight: bold;
	width: 80%;
}

.headline p {
	margin-bottom: 3rem;
	padding: 1rem 0;
	font-size: 1.3rem;
	width: 80%;
}

.button span {
	background-color: teal;
	padding: 1rem 5rem;
}

@media only screen and (max-width: 480px) {
	
	.splash {
		display: flex;
	justify-content: center;
	align-items: center;
		flex-wrap: wrap;
	}
	
	.main-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

	.main-image img {
		text-align: center;
		max-width: 100%;
		margin: 0 auto;
	}
	
	.headline {
		display: flex;
		flex-direction: column;
		margin: 0 4rem;
		width: 100%;
	}
	
	.headline h1 {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 1.5rem;
}

.headline p {
	margin-bottom: 3rem;
	padding: 0rem 0rem 1rem 0;
	font-size: 1rem;
}
	
	.button {
		align-content: center;
	}

.button span {
	background-color: teal;
	padding: 1rem 5rem;
}
}

/************Featured Articles***************/

.news {
	display: flex;
	justify-content: flex-start;
	height: 550px;
}

.featured {
	display: flex;
	justify-content: flex-start;
	max-width: 65%;
}

.main-image {
	align-items: flex-start;
	flex-direction: column;
}

.articles {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	max-width: 420px;
}

.article {
	display: flex;
	padding: 2rem 1rem;
}

.article img {
	max-width: 35%;
}

@media only screen and (max-width: 480px) {
	.featured {
		display: none;
	}
	
	.desktop-img {
		display: none;
	}
	
	.articles {
		display: flex;
		justify-content: flex-start;
		visibility: visible;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 480px;
	}
	
	.article {
		flex-wrap: wrap;
	}
	
	.article img {
		max-width: 100%;
	}
	
	.course img, .course h5, .course p {
		display: none;
	}
	
	video {
		max-width: 350px;
		height: auto;
		align-content: center;
		margin-left: 0;
	}
	
	.video h2, .video p {
		display: none;
	}
	
	.news-stories, .story h4, .story span {
		display: none;
	}

.terms {
	display: none;
}
}

@media only screen and (min-width: 481px) {
	.mobile-img {
		display: none;
	}
	
	.learning-mobile {
		display: none;
	}
	
	.classes-mobile {
		display: none;
	}
}

/*************Courses***************/

.courses {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 800px;
	margin: 3rem 2rem;
}

.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.course {
	align-items: center;
}

.course img {
	max-width: 95%;
}

.classes-mobile {
	text-align: left;
}

@media only screen and (max-width: 480px) {
	
	.courses, .learning {
	display: none;
	}
	
	.mobile-courses {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 40rem;
	}
}

/*************News Section************/

.academia {
	display: flex;
	justify-content: flex-start;
	height: 550px;
	margin-bottom: 6rem;}

.urban {
	display: flex;
	justify-content: flex-start;
	max-width: 55%;
	margin-left: 2rem;
}

.news-stories {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	max-width: 420px;
	margin: 2rem 2rem;
	padding-left: 5rem;
}

.story {
	display: flex;
	padding: 1rem 0;
}

.story img {
	max-width: 80%;
}

@media only screen and (max-width: 480px)
{
	.academia {
	display: flex;
	justify-content: flex-start;
	height: 260px;
	margin-top: 5rem;
}
}

.footer {
	display: inline-block;
	height: 20px;
}

.terms {
	float: right;
}